@media print {
    div.protfolio-wrap{
        margin-left: auto;
    }
    button, a, i, section.social_media, footer{
        display: none !important;
    }

    h1, b{
        text-align: left !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    }

    img{
        align-content: center !important;
        max-width: 50%;
        height: auto;
    }
}